.title {
  grid-row: 1 / -3;
  color: #e0e0e0;
  margin-right: 8rem;
}

.cont-geral {
  font-size: 1.25rem;
  max-width: 40ch;
  margin-bottom: 4rem;
  line-height: 1.5rem;
}

.exp-item {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: first baseline;
  margin-bottom: 2rem;
}

.exp-esp {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem; /*posso criar valores diferentes para gap na vertical e na horizontal*/
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}

.exp-esp::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  left: 40px;
  position: absolute;
  top: 16px;
  left: -1px;
}

.exp-esp p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #525252;
  line-height: 1.4; /*geralmente, para corpo de texto, utiliza-se entre 1.3 e 1.5*/
}

.exp-esp h3 {
  font-size: 1.1rem;
}

.lista {
  display: flex;
  margin-top: 0.8rem;
  gap: 1rem 1rem;
  flex-wrap: wrap;
}

.lista li {
  background-color: #fff;
  padding: 0.2rem;
  font-size: 0.9rem;
  border-radius: 4px;
}

#experiencia {
  padding: 2rem;
}

@media (max-width: 1015px) {
  #experiencia {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 2rem;
  }

  .sub-exp {
    width: initial;
    font-size: 6rem;
  }

  .cont-geral {
    max-width: 50ch;
  }
}

@media (max-width: 850px) {
  .sub-exp {
    font-size: 2rem;
    text-transform: capitalize;
    color: #141414;
    word-break: initial;
  }
}

@media (max-width: 600px) {
  #experiencia {
    gap: 1.5rem;
    padding-top: 2rem;
  }

  .exp-item {
    grid-template-columns: 1fr;
  }

  .cont-geral {
    font-size: 1rem;
  }

  .exp-esp {
    grid-template-columns: 1fr;
  }

  .exp-tec h3 {
    color: #141414;
  }

  .exp-tec h3::before {
    content: "Cargo: ";
    font-weight: 300;
    font-size: 1rem;
    color: #141414;
  }

  #experiencia {
    gap: 0rem;
  }

  .first {
    padding-top: .5rem;
  }
}

@media (max-width: 375px) {
  .exp-esp {
    width: 15rem;
  }

  #experiencia {
    max-width: fit-content;
    padding: 0rem 0rem 0rem 0.5rem;
  }

  .intro h1 {
    font-size: 2.5rem;
  }

  .first {
    width: 30ch;
  }
}
